.page {
  position: relative;
  opacity: 0;
  animation: opacityIn 1s 0.35s ease forwards;
}

.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.transition-group {
  flex: 1;
  position: relative;
}

.router {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.fade-enter .page {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 0.4s 0.5s ease;
}

.router.fade-exit.fade-exit-active {
  opacity: 0;
  transition: all 0.5s ease;
}
